<div class="columns is-centered">
  <div class="column is-half">
    <div class="card column is-10">
      <div class="card-content">
        <p style="color: green"><%= notice %></p>
        <h1 class="title">Tips Calculator</h1>
        <article class="panel is-link">
          <p class="panel-heading">
            Total value: <%= @tips_value %>
          </p>
          <div class="panel-block">
            <table class="table">
              <tr>
                <th>Tip</th>
                <th>Value</th>
                <th>Description</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              <% @tips.each do |tip| %>
                <tr>
                  <td><%= tip.id %></td>
                  <td><%= tip.value %></td>
                  <td><%= tip.description %></td>
                  <td><%= tip.brt_time_zone %></td>
                  <td><%= link_to "Edit", edit_tip_path(tip), class: "button is-info" %></td>
                  <td><%= button_to "Delete", tip_path(tip), method: :delete, class: "button is-danger" %></td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="panel-block">
            <%= link_to "New tip", new_tip_path, class: "button is-primary " %>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>