<p style="color: green"><%= notice %></p>

<h1>Tips total value: <%= @tips_value %></h1>

<div id="tips">
  <% @tips.each do |tip| %>
    <%= render tip %>
    <%=  tip.brt_time_zone %>
    <p>
        <%= link_to "Edit this tip", edit_tip_path(tip) %> |
        <%= link_to "Back to tips", tips_path %>
        <%= button_to "Destroy this tip", @tip, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New tip", new_tip_path %>
